
    server{
    server_name ${SERVER_NAME};
    listen ${NGINX_SSL_PORT} ssl;
    default_type application/octet-stream;
    error_log /var/log/nginx/error.log debug;
    ssl_certificate /etc/nginx/ssl/fullchain.pem;
    ssl_certificate_key /etc/nginx/ssl/privkey.pem; # managed by Certbot
    include /etc/nginx/ssl/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/nginx/ssl/ssl-dhparams.pem; # managed by Certbot

    gzip                    on;
    gzip_comp_level         6;
    gzip_vary               on;
    gzip_min_length         1000;
    gzip_proxied            any;
    gzip_types              text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;
    gzip_buffers            16 8k;
    client_max_body_size    256M;

    root /usr/share/nginx/html;

        location /assets/ {
         #assets within the root
         autoindex on;
        }

        location / {
        # matches any path within the root
        try_files $uri $uri/index.html =404;
        }
        error_page  404              /index.html;


    }


    server {
    if ($host = ${SERVER_NAME}) {
        return 301 https://$host$request_uri;
    }


    listen ${NGINX_PORT};
    server_name ${SERVER_NAME};
    return 404;

}

